<div class="row"> 
    <div>
          <br>
          <br>
        <!-- <h2>Read Data: </h2> -->
        <table class="table table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Id</th>
              <th>Last Login</th>
              <th>Time Online</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of logs; let i = index">
              <!--<td>{{employee._id}}</td>-->
              <td>{{log._id}}</td>
              <td>{{log.lastLogin}}</td>
              <td>{{log.timeOnline}}</td>
              <td>
                <a (click)="editarLog(i)" class="btn btn-success">
                  Edit
                </a>
                <a (click)="eliminarLog(log._id)" class="btn btn-danger">
                  Delete
                </a>
              </td>
            </tr>
          </tbody>
        </table>  
      </div> 
    </div>